.todoElement {
  padding: 10px 25px;
  border-bottom: 2px solid rgb(202, 200, 200);
}

.todoList {
  background: rgb(233, 232, 232);
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.delete {
  color: rgb(146, 145, 145);
}
.delete:hover {
  color: rgb(233, 70, 70);
  cursor: pointer;
  transition: all 0.5s ease-out;
}
