.todoElement {
  padding: 10px 25px;
  border-bottom: 2px solid rgb(179, 200, 245);
  font-size: 1.1rem;
  color: rgb(41, 41, 41);
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
}
.todoElement:hover {
  transition: all 0.3s ease-out;
  background: rgb(243, 243, 243);
}

.todoList {
  background: rgba(222, 237, 253, 0.794);
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: all;
}

.delete {
  color: rgb(146, 145, 145);
}
.delete:hover {
  color: rgb(236, 55, 55);
  cursor: pointer;
  transition: all 0.5s ease-out;
  line-height: 30px;
}
